<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% names.forEach(function(people) { %>
        <% if (id == people.id) { %>
            <h1> <%= people.name %> is at this URL with the id of <%= people.id %></h1>
        <% } %>
    <% }) %>

    <!-- <form action="/list" method="update">
        Edit name
    <input type="text" name="newValue">
    <button type="submit">Submit</button>
    </form> -->
</body>
</html>